.App .header {
  text-align: center;
}

.App .container {
  width: 100%;
  padding: 1em;
}

/* Larger than phablet */
@media (min-width: 550px) {
  .App .container {
    width: 80%;
    padding: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}